<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список трат на комплектующие для компьютера</title>
</head>
<body>
<header>
<a>Список трат на комплектующие для компьютера</a>
</header>
<p>
Введите название и цену:
</p>
<form method="post" action="/add_price">
    <input type="text" name="hardware_part">
    <input type="float" name="price">
    <button type="submit">Добавить в список</button>
</form>

<h3>Список трат</h3>
{% for message in messages %}
<div>{{ message.text }}
    {% for price in message.prices %}
        <b> #{{ price.text }} </b>
    {% endfor %}
</div>
{% endfor %}

</body>
</html>


